
Dear <%= @js.name %>,</br>

<p>
We have received your application for the position of <%= @js.vacancy.job_title %>,
SW and are currently reviewing your experience and qualifications. We look 
through the incoming resumes to see which ones best match our open jobs and contact 
the people we'd like to learn more about. Unfortunately, we are unable to personally 
speak with everyone that sends us a resume, but please don't be discouraged if you don't 
hear from us. We will keep your resume on file for at least six months in case a future
position matches your qualifications</p>
</br>

Sincerely,</br>
<%= @js.company_detail.company_name %>
