  <div class= "col-lg-6 mx-lg-auto form-border" style="margin: 20px;" >
      <div class="card-header bg-white text-black">
        <h2 class="card-title" >Enter Details</h2>
      </div>  
      <div class="card-body bg-white text-white">
        <%= render "form" %>
      </div>
    
  </div>
