<section id="about" class="job py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-7">
        <p class="red pt-5">WHAT WE ARE DOING</p>
        <h1>24K Talented prople are getting Jobs</h1>
        <p class="py-4" style="font-weight: 700;">Online job pitara are beneficial.
         The job pitara helps in automating the recruitment process. That's why many
          organisations use their job pitara. These are an effective way to connect the
           job seekers with recruiters, and it also helps the recruiters to attract more 
           candidates.</p>
           <p>A job pitara app is a feature-rich platform integrated with advanced job 
           facilitation resources that allows job seekers to connect with companies, firms 
           & agencies that are recruiting and vice versa. Searching for a job is one of the 
           most frustrating and challenging things we all have experienced.</p>
      </div>
      <div class="col-lg-5">
          <%= image_tag "about.jpg", class: "img-fluid", alt:""  %>
      </div>
    </div>
  </div>
</section>