<h1 class="blog-h1 py-5">Top 10 Tips for a Job Interview</h1>
<%= image_tag "blog2.jpg", class: "blog2-image" %>
<div class=" container blog22">
<h3>1) Research the company</h3>
<h3>2) Predict the job interview questions and prepare answers</h3>
<h3>3) Dress suitably</h3>
<h3>4) Arrive a little early</h3>
<h3>5) Make a good first impression</h3>
<h3>6) Be calm, confident, positive, and focused</h3>
<h3>7) Don’t be modest, sell yourself</h3>
<h3>7) Don’t be modest, sell yourself</h3>
<h3>9) Make a good final impression</h3>
<h3>10) Follow-up</h3>
</div>