<body>
  <div  class="bi">
    <div class="cent">
      <div class='main_content'>
        <div>
          <h1 class="main_head">
          <span class="f1-text">Your Dream</span> <span class="f2-text"> Job Is Waiting </span></br>
          <%= link_to "CLICK", root_path, class: "btn btn-primary" %>
          </h1>

        </div>
      </div>
    </div>
  </div>
</body>


