<body>
<table class="table table-sm">
    <thead>
      </tr>
        <th>S.No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% s=1 %>
      <% @user.each do |user| %>
        <tr>
            <td><%= p s %></td>
            <% s+=1 %>
            <td><%= user.username %></td>
            <td><%= user.email%></td>
            <td><%=user.role%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
