/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
 
 .custom{
    margin-left: 650px;
 }

 *{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none !important;
   scroll-behavior: smooth;
}

.navbar-brand{
   font-size: 2rem !important;
   color: red !important;
}

.nav-link{
   color: rgb(10, 10, 94) !important;
}

.nav-link:hover{
   color: red;
   transition: 0.3s;
}

.nav-item{
   color: rgb(7, 7, 78);
   font-weight: 500;
   padding-left: 35px;
}                

.btn0{
   height: 52px;
   width: 130px;
   outline: none;
   border: none;
   color: white;
   cursor: pointer;
   transition: all 0.4s;
   background-color: rgb(248, 83, 83);
}

.btn0:hover{
   background-color: rgb(214, 11, 11);
   transition: all 0.4s;
}

.btn1{
   height: 52px;
   width: 130px;
   outline: none;
   border: 2px solid rgb(248, 20, 20);
   color: rgb(248, 20, 20);
   background-color: transparent;
}

.btn1:hover{
   background-color: rgb(214, 11, 11);
   transition: all 0.4s;
   color: white;
   border: none;
   outline: none;
}

.main{
   background: url("main1copy.jpg")no-repeat;
   background-size: cover;
   min-height: 95vh;
   width: 100%;
}

.main h1{
   font-size: 5rem;
   font-weight: 800;
   color: rgb(7, 7, 78);
}


.srch {
   margin-left: 10px;
}

.main .in{
   height: 61px;
   width: 70%;
   border: none;
   outline: none;
   padding: 15px;
}
.btn2{
   height: 60px;
   padding: 10px;
   background-color: rgb(243, 73, 73);
   color: white;
   border: none;
   outline: none;
   cursor: pointer;
   transition: all 0.4s;
   margin-left: -4px;
}
.btn2:hover{
   background: rgb(214, 11, 11);
   transition: all 0.4sec;
}

.job h1{
   font-size: 3.5rem;
   color: rgb(7, 7, 78);
}

.apply{
   background: url("bgimg.jpg")no-repeat;
   background-size: cover;
   /* height: 110vh; */
   width: 100%;
}
.apply .card{
   background-color: rgba(4, 26, 100, 0.932);
   color: white;
}
.apply .card:hover{
   /* background: rgba(11, 48, 214, 0.753);
   transition: all 0.5s; */
   box-shadow: rgba(9, 13, 14, 0.911) 2px 7px 29px 2px;

}
.cir1{
   height: 100px;
   width: 100px;
   background: white;
   border-radius: 50%;
   display: inline-block;
}
.cir1 img{
   border-radius: 50%;
}

.avatar{
   height: 130px;
   width: 130px;
   border-radius: 50%;
}

.perac{
   font-size: 1.6rem;
   font-weight: 300;
}
.footer{
   background: #121626;
   color: white;
}
.footer p{
   margin: 0;
   color: #69696b
}
.link{
   color: #6b6b72;
   transition: all 0.4s;

}
.link:hover{
   color: #ff2962;
   padding-left: 10px;
   transition: all 0.5s;
   cursor: pointer;
}

.red{
   color: red;
}
.ceta h1{
   font-size: 3.5rem;
   color: rgb(7, 7, 78);
}
.ceta .card:hover{
   color: red;
   cursor: pointer;
   transition: all 0.3s;
}

.btn{
   /* width: 200px !important; */
   /* font-style: normal; */
   /* font-weight: 600 !important; */
}

.bi{
   background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -16px;
    font-family: 'Poppins', sans-serif;
}
.main_head{
   color: white;
   
}
.f1-text{
   font-weight: 500;
   margin-right: 100px;
   display: block;
   font-size: 50px;
}
.f2-text{
   font-weight: 400 !important;
   display: block;
}
.main_content{
   width: 450px;
   padding: 20px;
   height: 300px;
   /* background-color: aliceblue; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.cent{
   width: 100%;
   margin: 0 auto;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   color: rgb(172, 3, 3);
   /* background-color: azure; */
   text-shadow: 2px 2px 4px #000000;
   font-weight: bolder;
   font-style: italic;
   text-align: center;
   border-radius: 10px;
 }

 .text1 {
   width: 10%;
   color: black !important;
   font-size: 20px;
   cursor: pointer;
 }

 .logo {
   width: 10%;
   color: #fff !important;
   font-size: 20px;
   cursor: pointer;
 }

#mainlogo{
   color:rgba(23, 16, 122, 0.973)
}

.mb-2{
    color: black !important;
}

.card-title{
   color: black !important;
}

.er{
   color: black;
}

.buttonn{
   color: white !important;
}



.form-border{
   border: 1px solid rgb(126, 3, 85);
   border-radius: 8px;
   padding: 5px;
   
 }

 .tab{
   border-radius: 15px;
   width: 70% !important;
   margin-left: auto;
   margin-right: auto;
 }
 .identity{
   position: fixed !important;
 }





 .blog{
   width: 100%;
   height: auto;
   text-align: center;
   padding-top: 5%;
   padding: 5rem, 1rem;
 }
 .blog-wrapper{

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
   padding: 1rem;
 }
 .blog-card{
   width: 24%;
   height: auto;
   margin: 1rem;
   box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
   cursor: pointer;
 }
 .blog-image{
   width: 100%;
   height: 150px;
   object-fit: cover;
 }
 .blog-detail{
   padding: 15px;
 }
 .blog-detail span{
   color: var(--yellowColor);
   font-size: 0.7rem;
 }
 .blog-detail h4{
   padding: 10px 0;
 }
 .divider{
   margin: 1rem 0;
   border: 0.5px solid var(--greyColor);
 }
 .blog-more{
   color: var(--primaryColor);
   text-decoration: none;
   font-size: 0.9rem;
 }
 .blog-card:hover{
   box-shadow: rgba(100, 100, 111, 0.2) 4px 7px 29px 4px;
 }
 .section-title{
   margin-bottom: 0.5rem;
   letter-spacing: 1.5;
   font-size: 36;
 }

 .blog-h1{
   padding-top: 30px;
   text-align: center;
   text-decoration: double;
 }
 .pp{
   text-align: center;
 }
 .blog2-image{
  margin: auto; 
  width: 600px;
  display: block;
 }

 .blog22{
   color: blueviolet;
   padding: 100px;
 }
 .blog22 p{
   color: #000000;
 }
 .blog21{
   color: blueviolet;
   padding: 50px;
 }
 .blog21 p{
   color: #000000;
 }
 .blog-href {
   text-decoration: none;
   color: #000000;
 }
 .blog-href:hover{
   color: #000000;
 }